[Unit]
Description=Ewok RSS aggregator

[Service]
User=www-data
Group=www-dev
ExecStart=/var/www/ewok/bin/ewok
WorkingDirectory=/var/www/ewok
Restart=on-failure

[Install]
WantedBy=multi-user.target
