<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Ewok</title>

  <link rel="stylesheet" type="text/css" href="/static/css/skeleton.css">
  <link rel="stylesheet" type="text/css" href="/static/css/base.css">
</head>

<body>
  <div class="main-content container">
    <div class="eight columns">
      {{ if ne (len .FeedItems) 0 }}
        {{ range .FeedItems }}
        <div class="row">
            <div class="item" data-parent-feed-id="{{ .ParentFeedId }}">
              <a class="item-link" href="{{ .Link }}" target="_blank">
                <h3 class="item-title">{{ .Title }}</h3>
                <p class="item-parent-name">{{ .ParentFeedName }}</p>
                <p class="item-publish-date">{{ .Published }}</p>
                <p class="item-description">{{ .Description }}</p>
              </a>
            </div>
        </div> <!-- end row -->
        {{ end }}
      {{ else }}
        <div class="row">
          <h3> No items found! </h3>
        </div> <!-- end row -->
      {{ end }}
    </div>
    <div class="four columns">
      {{ range .Feeds }}
      <div class="row">
        <a class="feed-link" href="{{ .Link }}" target="_blank">
          <div class="feed" data-feed-id="{{ .Id }}">
            <p class="feed-title">{{ .Title }}</p>
            <p class="feed-updated">{{ .Updated }}</p>
          </div>
        </a>
      </div> <!-- end row -->
      {{ end }}
    </div>
  </div> <!-- end container -->
</body>
</html>
