<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Ewok</title>

  <link rel="stylesheet" type="text/css" href="/static/css/skeleton.css">
  <link rel="stylesheet" type="text/css" href="/static/css/base.css">
</head>

<body>
  <div class="main-content container">
    {{ range . }}
    <div class="row">
      <div class="eight columns item">
        <a class="item-link" href="{{ .Link }}" target="_blank">{{ .Title }}</a>
        <p class="item-publish-date">{{ .Published }}</p>
        <p class="item-description">{{ .Description }}</p>
      </div>
    </div> <!-- end row -->
    {{ end }}
  </div> <!-- end container -->
</body>
</html>
