body {
  font-samily: Times, serif;
  background-color: #fff;
  color: #262626;
}

a, p {
  text-decoration: none;
  color: #262626;
}

a {
  font-family: Helvetica, arial, sans-serif;
}

.item-publish-date {
  font-size: 11px;
}

.item, .feed {
  padding: 20px;
  background-color: #f7f7f7;
  margin-bottom: 20px;
}

.item-link:hover div, .feed-link:hover div {
  opacity: 0.75;
}

.item-title {
  color: #262626;
  font-family: Helvetica, arial, sans-serif;
  font-weight: 300;
  font-size: 26px;
  margin: 0;
}

.item-parent-name {
  color: #717171;
  font-family: Helvetica, arial, sans-serif;
  font-weight: 300;
  margin: 0;
  font-size: 12px;
}

.item-description {
  font-size: 13px;
  color: #262626;
  margin-top: 5px;
  font-family: serif;
}

.item-publish-date, .feed-updated {
  font-family: Helvetica, arial, sans-serif;
  padding-bottom: 10px;
  color: #717171;
  margin: 0;
}

.feed-updated {
  padding-bottom: 0;
}

.feed-updated {
  font-size: 11px;
}

.main-content {
  padding-top: 35px;
}

.feed {
  padding-bottom: 20px;
}

.feed-title {
  font-samily: Arial, sans-serif;
  font-weight: 300;
  margin: 0;
  font-size: 14px;
  text-decoration: none;
  color: #262626;
}
